/*
#meu-body {
	margin-left: 10px !important;
}
*/
body {
	margin: 0;
	padding: 0;
}

div.primeira {
	background-color: red;
	height: 80px;
	width: 30%;
	border-top-style: solid;
	border-top-color: yellow;
	border-top-width: 1px;

	border-right-style: solid;
	border-right-color: blue;
	border-right-width: 1px;

	/*
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	*/  

	border-bottom: solid black 10px;

	border-left-style: solid;
	border-left-color: green;
	border-left-width: 1px;

	border: solid black 10px;

	border-top-right-radius: 20px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 20px
	border-top-left-radius: 2px;
}

h3.primeira {
	background-color: blue;
	height: 120px;
	width: 70%;
	margin-left: 15%;
}

body div.segunda {
	//
	width: 20%;
	height: 180px;
	background-color: purple;
	margin-left: 80%;
}