body {
	background-color: black;
	margin: 0;
	padding: 0;	
	font-family: sans-serif;
	color: white;
}

label {
	color: white;
}

.form-textarea {	
	width: 100%;
	height: 300px;
	background-color: transparent;
	color: white;
	margin-bottom: 10px;
}

#funcionario-nome{
	//width: 400px
}

.form-label {
	display: block;
}

.form-input{
	border-top: none;
	border-right: none;
	border-left: none;
	margin-bottom: 20px;
	border-bottom: 0.5px solid #BFB7B6  ;
	outline: none;
	margin-bottom: 10px;
	width: 100%;
	height: 28px;
	background-color: transparent;
	color: white;
}
.form-input:focus{
	border-bottom-color: #949494;
}

.formulario {
	width: 600px;
	padding: 10px;
	margin: 0 auto; 
}

.botao-salvar {
	float: right;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 0.4px solid blue;
	background-color: blueviolet;
	color: white;
	opacity: 0.9;
	cursor: pointer;
	outline: none;
}

.botao-salvar:hover{
	opacity: 1;
	cursor: copy;
}

