body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

table thead tr th,
table tfoot tr th {
	background-color: purple;
	color: white;
	height: 30px;
}
.conteudo{
	margin: 0 auto;
	width: 70%;
}
table {
	width: 100%;
}

table tbody tr:nth-of-type (odd){
	background-color: white;
} 

table tbody tr:nth-of-type(even){
	background-color: #949494;
}
.coluna-codigo {
	width: 20%;
}

.coluna.nome {
	width: 60%;
}

.coluna-preco {
	width: 20%;
}

.limao {
	color: green;
	outline: none;
}